body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:819px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u0 {
  position:absolute;
  left:64px;
  top:100px;
  width:243px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u2 {
  position:absolute;
  left:151px;
  top:136px;
  width:52px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4 {
  position:absolute;
  left:151px;
  top:161px;
  width:64px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6 {
  position:absolute;
  left:151px;
  top:186px;
  width:52px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u8 {
  position:absolute;
  left:64px;
  top:136px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u10 {
  position:absolute;
  left:64px;
  top:161px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12 {
  position:absolute;
  left:64px;
  top:186px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow Bold', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u14 {
  position:absolute;
  left:64px;
  top:47px;
  width:149px;
  height:33px;
  font-family:'Arial Narrow Bold', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:2px;
}
#u16 {
  position:absolute;
  left:64px;
  top:222px;
  width:755px;
  height:1px;
  font-size:12px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-8px;
  width:751px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  line-height:21px;
}
#u18 {
  position:absolute;
  left:64px;
  top:241px;
  width:755px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
  line-height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:7px;
  width:755px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:2px;
}
#u20 {
  position:absolute;
  left:64px;
  top:697px;
  width:755px;
  height:1px;
  font-size:12px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-8px;
  width:751px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u22 {
  position:absolute;
  left:643px;
  top:658px;
  width:163px;
  height:36px;
  font-family:'Adobe 黑体 Std R Bold', 'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#CCCCCC;
  text-align:center;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u24 {
  position:absolute;
  left:76px;
  top:589px;
  width:84px;
  height:16px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u26 {
  position:absolute;
  left:255px;
  top:589px;
  width:96px;
  height:16px;
  color:#666666;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:60px;
}
#u28 {
  position:absolute;
  left:76px;
  top:615px;
  width:182px;
  height:60px;
  font-size:14px;
  color:#666666;
  line-height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u30 {
  position:absolute;
  left:76px;
  top:516px;
  width:84px;
  height:16px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u32 {
  position:absolute;
  left:255px;
  top:516px;
  width:85px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:20px;
}
#u34 {
  position:absolute;
  left:76px;
  top:542px;
  width:182px;
  height:20px;
  font-size:14px;
  color:#666666;
  line-height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:2px;
}
#u36 {
  position:absolute;
  left:64px;
  top:578px;
  width:755px;
  height:1px;
  font-size:12px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-8px;
  width:751px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u38 {
  position:absolute;
  left:646px;
  top:539px;
  width:163px;
  height:36px;
  font-family:'Adobe 黑体 Std R Bold', 'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#CCCCCC;
  text-align:center;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:2px;
}
#u40 {
  position:absolute;
  left:64px;
  top:505px;
  width:755px;
  height:1px;
  font-size:12px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-8px;
  width:751px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u42 {
  position:absolute;
  left:646px;
  top:466px;
  width:163px;
  height:36px;
  font-family:'Adobe 黑体 Std R Bold', 'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#CCCCCC;
  text-align:center;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u44 {
  position:absolute;
  left:76px;
  top:447px;
  width:84px;
  height:16px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
}
#u46 {
  position:absolute;
  left:255px;
  top:447px;
  width:128px;
  height:16px;
  color:#666666;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
}
#u48 {
  position:absolute;
  left:76px;
  top:473px;
  width:135px;
  height:20px;
  font-size:14px;
  color:#666666;
  line-height:20px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:2px;
}
#u50 {
  position:absolute;
  left:64px;
  top:436px;
  width:755px;
  height:1px;
  font-size:12px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-8px;
  width:751px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u52 {
  position:absolute;
  left:647px;
  top:397px;
  width:163px;
  height:36px;
  font-family:'Adobe 黑体 Std R Bold', 'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#CCCCCC;
  text-align:center;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u54 {
  position:absolute;
  left:76px;
  top:286px;
  width:84px;
  height:16px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u56 {
  position:absolute;
  left:255px;
  top:286px;
  width:96px;
  height:16px;
  color:#666666;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:112px;
}
#u58 {
  position:absolute;
  left:76px;
  top:312px;
  width:454px;
  height:112px;
  color:#666666;
  line-height:28px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  white-space:nowrap;
}
